@using Optimizely.Demo.Commerce.Models.Products.Base
@using Optimizely.Demo.Commerce.Models.ViewModels
@model IProductViewModel<ProductBase>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <main id="main">
        @RenderBody()
    </main>
</body>
</html>