@using Optimizely.Demo.Commerce.Models.Products
@model FashionProduct

<p>
    @Model.Name<br />
    @Model.Brand<br />
    <a href="@UrlResolver.Current.GetUrl(Model.ContentLink)">@Model.Name</a>
</p>