@using Optimizely.Commerce.Demo.Models.Cms
@using Optimizely.Demo.Core.Models.ViewModels;
@model IPageViewModel<StartPage>

<h1>
	@Html.PropertyFor(x => x.CurrentPage.Heading)
</h1>

<p>
	@Html.PropertyFor(x => x.CurrentPage.LeadText)
</p>

@Html.PropertyFor(x => x.CurrentPage.MainContentArea)
@Html.PropertyFor(x => x.CurrentPage.AnotherMainContentArea)
